*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ECF0F1;
}

.container {
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #FFF;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
}

.second-column {
    flex: 2 0 auto;
}

.list-social-media {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.second-content {
   position: absolute;
   display: none; 
}